{% extends "base.html" %}
{% block content %}

{% load static %}
<center>
<p></p><strong>
	<p><img src="{% static 'images/accounting.jpeg' %}" width="300px"/></p></center>

	<p><h1>What Comes With the Accounting Feature?</h1>
<ul>
		
		<li>Easy Set Up with Full Support</li>
		<li>Track Accounts</li>
		<li>Tag Transactions with Funds</li>
		<li>Print or Send Reports</li>
		<li>Record Assets and Liabilities</li></ul>

		Request information about unlocking all features for your church members by clicking <a href="/request-church-account">here.</a>


	{% endblock %}