{% extends "base.html" %}

{% block content %}
<center><textarea rows="10" cols="50" style="background-color: LightBlue;color:Red;border-top:5px dotted LightBlue;border-right:1px dashed Red;border-bottom:5px solid Red;border-left:15px solid Red; font-family: Arial;">
Church subscriptions include an attendance feature which allows users to register for events or enroll in classes with a click. 

Church administrators have access to many different report views.

Users may also view his or her personal attendance records here.
</textarea>

{% endblock %}