<div class='col-20 col-md-50 mb-1 mx-auto'>
<div class='card'>
  <div class='card-body'>
      <h3 class = 'card-title'>
      {{object.name}}</h3>
      <div class = 'card-text'>Phone: {{object.phone_number}}<br/>
        {{object.street_address}}<br/>
        {{object.street_address_line_2}}<br/>
        {{object.city}}, {{object.state_abbrev}} {{object.zip_code}}<br/>
        Email: {{object.email}}<br/>
          Payment User Details: {%if object.payment_verified%}<button disabled style="background:green;color:white">Verified</button>{%else%}<a href={% url 'add-payment-details' id=object.id %}><button style="background:red;color:white">Not Verified</button></a>{%endif%}<br/><br/>
          Bank Details: {%if object.is_bank_verified%}<button disabled style="background:green;color:white">Verified</button>{%else%}<a href={% url 'add-bank-details' id=object.id %}><button style="background:red;color:white" {%if object.payment_verified%}{%else%}disabled{%endif%}>Not Verified</button></a>{%endif%}<br/>
      </div>


      {% if request.user.groups.all.0.name == "Owner" or request.user.groups.all.0.name == "Admin" %}

      <a href='{{ object.get_edit_url }}' > Edit
        {{object.name}}</a><br/>
        {% if request.user.groups.all.0.name == "Owner" %}
     <a href='{{ object.get_delete_url }}' > Delete {{object.name}}</a>
     {% endif %}
{% endif %}
      

  </div>
</div>
</div>
