{% extends "base.html" %}
{% block content %}

{% load static %}
<center>
<p></p><strong>
	<p><img src="{% static 'images/donate.jpg' %}" width="300px"/></p></center>

	<p><h1>What Is The Contributions Feature?</h1>
<ul>
		<li>Accept Contributions 24/7</li>
		<li>Affordable, Safe and Secure</li>
		<li>Easily Monitor and Track</li>
		<li>Administrator Reports</li>
		<li>Members Can View or Edit Recurring Donations</li></ul>

		Request information about unlocking all features for your church members by clicking <a href="/request-church-account">here.</a>


	{% endblock %}