{% extends "base.html" %}
{% block content %}

{% load static %}
<center>
<p></p><strong>
	<p><img src="{% static 'images/revival.jpg' %}" width="300px"/></p></center>

	<p><h1>What Is The Event Feature?</h1>
<ul>
		<li>Display Class or Event Information</li>
		<li>Online Registration and Check-In</li>
		<li>Easy Set Up</li>
		<li>Administrator Reports</li>
		<li>Affordable</li></ul>

		Request information about unlocking all features for your church members by clicking <a href="/request-church-account">here.</a>


	{% endblock %}