{% extends "base.html" %}
{% block content %}

{% load static %}
<center>
<p></p><strong>
	<p><img src="{% static 'images/members.jpg' %}" width="300px"/></p></center>

	<p><h1>What Is The Members Feature?</h1>
<ul>
		<li>Accessible By Members Only</li>
		<li>See All Member Contact Information</li>
		<li>Build Interaction With Your Flock</li>
		<li>1-Click Download of Members List for Mail Merge</li></ul>

		Request information about unlocking all features for your church members by clicking <a href="/request-church-account">here.</a>


	{% endblock %}