{% extends "base.html" %}
{% block content %}

{% load static %}
<center>
<p></p><strong>
	<p><img src="{% static 'images/minutes.jpg' %}" width="300px"/></p></center>

	<p><h1>What Are Minutes?</h1>
<ul>
		<li>Electronic Meeting Notes</li>
		<li>On-Screen Printing</li>
		<li>Instantly Shared With Members</li>
		<li>Easily Searchable</li>
		<li>Regular Backups</li>
	</ul>

		Request information about unlocking all features for your church members by clicking <a href="/request-church-account">here.</a>


	{% endblock %}