<div class='col-20 col-md-50 mb-1 mx-auto'>
<div class='card'>
  <div class='card-body'>
      <h3 class = 'card-title'>
      {{object.id}}</h3>
      
      <div>
        User: {{object.first_name}} {{object.last_name}}
      </div>
      Username: {{object.username}}<br/>
      Email: {{object.email}}<br/>
      Phone Number: {{object.phone_number}}<br/>
      Address:<br/>
      {{object.street_address}}<br/>
      {{object.street_address_line_2}}<br/>
      {{object.city}}, {{object.state_abbrev}} {{object.zip_code}}<br/>
      <a href='{{ object.get_edit_url }}' > Edit
        User</a><br/>
     <a href='{{ object.get_delete_url }}' > Delete User</a>


      

  </div>
</div>
</div>
